* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
    background: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ensures it covers the full viewport height */
    background-image: url('img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6; 
    z-index: -1;
}

.container {
    max-width: 60%;
    padding: 34px;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
}

.container h1, p {
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
   
}

p {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
}

input, textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-color: black;
    border-radius: 5px;
    outline: none;
    margin-bottom: 2.5%;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #0073e6;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 15px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}



.btn:last-of-type {
    background-color: #0073e6;
    color: white;
}

.btn:last-of-type:hover {
    background-color: #005bb5;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.submitmsg{
    font-size: 20px;
    color: rgb(20, 108, 20);
    margin: 1%;
}